h2{
  font-size: 2rem;
    text-align: center;
font-family: "Oooh Baby";
color: rgb(116, 17, 17);
font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.769);
}
.busqueda{
  display: flex;
  justify-content: center;
}
.buscar{
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px ;
}
img{
  width: 500px;
  border-radius: 15px;
  height: 350px;
}
.categorias{
  
  padding: 16px 0px;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
 

 .categoria{
   
   display: flex;
   cursor: pointer;
   flex-direction: column; 
   transition: all .3s ease-in-out;
   h3{padding: 15px;
     align-self: center;
   }
   &:hover{
     padding: 3px;
     transform: scale(1.1);
    color: rgb(116, 17, 17);
  }
  }

  @media (max-width: 690px) {
    img{
    width: 350px;
    border-radius: 15px;
    height: 250px;
}
  }
}