.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
}
label{
    float: left;
}

.card-header,label{
    font-family: "Oooh Baby";
    font-size: 1.25rem;
}
.register{
    margin-top: 1rem;
}
.card-header{
    font-size: 2.75rem;
}
.btn{
display: block;
width: 100%;
margin-top: 1rem;
}
.error{
    
}