<app-nav></app-nav>


<!-- Poner un background repeat con una foto con varios elementos -->
<div class="contenedor">
  <div class="texto">
<h3 id="historiaTitulo">Nuestros inicos</h3>
        <p>Nuestra historia comienza en 1983 con la creación del horno del campet que fue creado junto a un familiar.
            El horno tenía éxito pero estaba alejado del pueblo, así qué tras un tiempo Victoria y José Manuel
            decidieron crear su propio negocio en el Novelda.
            En 1992, se inauguró el Horno Victoria y podemos decir que ha sido todo un éxito.</p>
        <h3 id="pasion">Nuestra Pasión</h3>
        <p>Desde entonces nos hemos dedicado a la creación de productos artesanos para nuestros clientes.
            Siempre estamos en la búsqueda constante de nuevos productos que sean atractivos para nuestros clientes que
            son lo primero.</p>
        <h3 id="tradicion">Tradición</h3>
        <p>Tradición familiar somos una empresa familiar ,ya que, antes todas las operaciones las realizaban nuestros
            fundadores y ahora tras jubilarse,
            las riendas han recaído en Luis que continúa con la tradición familiar de hacer productos de máxima calidad.
        </p>
      </div>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="1000">
        <img src="../../../assets/img/carrusel_historia/1.jpg" class="d-block w-100" alt=" Tradicion familiar" width="450" height="450">
        <div class="carousel-caption d-none d-md-block">
          <h5>Tradición Familiar</h5>
          <p>Realizando nuestros productos.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../../assets/img/carrusel_historia/2.jpg" class="d-block w-100" alt="Tradicion familiar" width="450" height="450">
        <div class="carousel-caption d-none d-md-block">
          <h5>Segunda generación de artesanos</h5>
          <p>El negocio sigue en manos de la familia desde 1993.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="../../../assets/img/carrusel_historia/3.jpg" class="d-block w-100" alt="Nuestra tienda" width="450" height="450">
        <div class="carousel-caption d-none d-md-block">
          <h5>Nuestra tienda</h5>
          <p>Siempre estamos a tu lado para cualquier duda.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <img src="../../../assets/img/carrusel_historia/4.jpg" class="d-block w-100" alt="Nuestra tienda" width="450" height="450">
        <div class="carousel-caption d-none d-md-block">
          <h5>Nuestros productos</h5>
          <p>Siempre recién hechos para tu disfrute.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<app-footer></app-footer>
