<app-nav></app-nav>

<h3> Estamos siempre a tú disposición</h3>
<div class="contactText">
<p>
    Si tienes cualquier duda respecto a la cantidad adecuada que debes pedir, alguna petición
    especial(cocción,ingredientes…) no dudes en ponerte en contacto con nosotros
    en el Teléfono : <b>965602542</b> o acudiendo directamente a nuestra tienda presencialmente dónde tanto Clemen como
    Salva estarán encantadas de ayudaros
    y resolver cualquier duda que os pueda surgir.
</p>
<p>Siempre estamos a tú disposición. No lo olvides.</p>
<p> Nuestro horario de atención al público es de Lunes a Viernes de 06:00 a 14:15 por la mañana y por la tarde
    de 17:00 a 20:30 y los Sábados de 06:00 a 14:15 </p>
</div>
    
<app-footer></app-footer>
