<hr class="hr">
<footer>
    <div>
        <div class=" container row justify-content-between">
            <div class="mapa col text-center">
                <h2>Mapa</h2>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3127.470564678134!2d-0.7615969845129712!3d38.38436748462508!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd63c61bbb8c462d%3A0x1457ed6988eb1205!2sC.%20Valle%20Incl%C3%A1n%2C%2025%2C%2003660%20Novelda%2C%20Alicante!5e0!3m2!1ses!2ses!4v1644254488058!5m2!1ses!2ses"
                    width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
           
           

           <div class="contacto col">
                <h2>Nuestro horario</h2>
                <p>Abierto de Lunes a Viernes : </p><p> 06:00 a 14:15  y  17:00 a 20:30 </p>
                <p>Sábados : de 06:00 a 14:15</p>
               <p> Teléfono : <b>965602542</b> <i class="fa-solid fa-phone"></i></p> 
                <p>Correo Electrónico : hornoVictoria@admin.com</p>
            <p> Nuestras redes sociales</p>
            <p class="redes"><i class="fa-brands fa-facebook"></i> </p>
        </div>
        </div>
    </div>
     <p class="text-center espacio copyright"><small> © 2022 Horno Victoria. Todos los derechos reservados. </small> </p>

</footer>
